<canvas id="canvas"></canvas>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stats.js/r16/Stats.min.js"></script>
<script src="/lib/wgl/src/WGL.js"></script>
<script id="vertex" type="shader/vertex">
precision mediump float;

attribute vec3 aPos;
attribute vec3 aColor;

varying vec3 vColor;

void main() {
    vColor = aColor;
    gl_Position = vec4(aPos, 1.0);
}
</script>
<script id="fragment" type="shader/vertex">
precision mediump float;

varying vec3 vColor;

void main() {
    gl_FragColor = vec4(vColor, 1.0);
}
</script>
<script>

var stats = new Stats();
stats.showPanel(1);
document.body.appendChild(stats.domElement);

var context = new WGL.Context(document.querySelector('#canvas'));

var buffer, program;

// main loop
context.main(() => {
    stats.end();
    stats.begin();

    context.clear();

    // draw triangle only when ready
    if(buffer && program) {
        program.use();
        buffer.draw({
            uniforms: {
            },
        });
    }
});

// async init for triangle
(async () => {
    program = await context.createProgram(document.querySelector('#vertex').innerText, document.querySelector('#fragment').innerText);

    /*
    buffer = await context.createBuffer([
        {
            data: [
                 0.0,  1.0,  0.0, 1.0, 0.75, 0.0,
                -1.0, -1.0,  0.0, 0.0, 1.0, 0.75,
                 1.0, -1.0,  0.0, 0.75, 0.0, 1.0,
            ],
            attributes: {
                aPos: {size: 3},
                aColor: {size: 3},
            },
        },
    ]);
    */

    buffer = await context.createBuffer([
        {
            data: [
                 0.0,  1.0,  0.0,
                -1.0, -1.0,  0.0,
                 1.0, -1.0,  0.0,
            ],
            attributes: {
                aPos: {size: 3},
            },
        },
        {
            data: new Uint8Array([
                255, 63, 63,
                127, 255, 63,
                0, 127, 255,
            ]),
            attributes: {
                aColor: {size: 3},
            },
        },
    ]);
})();
</script>
