<style>
html, body {
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
}
#content {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}
aside {
    margin: 2em 2em 0 0;
    min-width: 10em;
}
iframe {
    flex-grow: 1;
    border: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
</style>
<div id="content">
    <aside>
        <div>
            <a href="/">wgl</a>
            <span> - </span>
            <a href="/api">api</a>
        </div>
        <ul>
            <li><a href="triangle.html" target="view">triangle</a></li>
            <li><a href="color.html" target="view">color</a></li>
            <li><a href="texture.html" target="view">texture</a></li>
        </ul>
    </aside>
    <iframe id="view" name="view">
    </iframe>
</div>
