<canvas id="canvas" width="1024" height="1024"></canvas>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stats.js/r16/Stats.min.js"></script>
<script src="/lib/wgl/src/WGL.js"></script>
<script id="vertex" type="shader/vertex">
precision mediump float;

attribute vec3 aPos;
attribute vec2 aTexCoord;

varying vec2 vTexCoord;

void main() {
    vTexCoord = aTexCoord;
    gl_Position = vec4(aPos, 1.0);
}
</script>
<script id="fragment" type="shader/vertex">
precision mediump float;

varying vec2 vTexCoord;

uniform sampler2D uTex;

void main() {
    gl_FragColor = texture2D(uTex, vTexCoord);
}
</script>
<script>

var stats = new Stats();
stats.showPanel(1);
document.body.appendChild(stats.domElement);

var context = new WGL.Context(document.querySelector('#canvas'));

var buffer, program, texture;

// main loop
context.main(() => {
    stats.end();
    stats.begin();

    context.clear();

    // draw quad only when ready
    if(buffer && program && texture) {
        program.use();
        buffer.draw({
            uniforms: {
                uTex: texture,
            },
        });
    }
});

// async init for triangle
(async () => {
    program = await context.createProgram(document.querySelector('#vertex').innerText, document.querySelector('#fragment').innerText);

    /*
    buffer = await context.createBuffer([
        {
            data: [
                 0.0,  1.0,  0.0, 1.0, 0.75, 0.0,
                -1.0, -1.0,  0.0, 0.0, 1.0, 0.75,
                 1.0, -1.0,  0.0, 0.75, 0.0, 1.0,
            ],
            attributes: {
                aPos: {size: 3},
                aColor: {size: 3},
            },
        },
    ]);
    */

    buffer = await context.createBuffer([
        {
            data: [
                -1.0,  1.0, 0.0,
                -1.0, -1.0, 0.0,
                 1.0, -1.0, 0.0,
                 1.0, -1.0, 0.0,
                -1.0,  1.0, 0.0,
                 1.0,  1.0, 0.0,
            ],
            attributes: {
                aPos: {size: 3},
            },
        },
        {
            data: new Uint8Array([
                0, 255,
                0, 0,
                255, 0,
                255, 0,
                0, 255,
                255, 255,
            ]),
            attributes: {
                aTexCoord: {size: 2},
            },
        },
    ]);

    // source https://www.pexels.com/photo/golden-gate-204446/
    texture = await context.createTexture('/lib/wgl/examples/pexels-photo-204446.jpeg');
})();
</script>
